*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-color: black;
    text-align: center;
    margin: auto;
}

#imgOff {
    margin: auto;
}
#imgOn,#red,#green,#blue,#yellow {
    margin: auto;
    display: none;
}

img{
    width: 100%;
}

.btn{
    /* background-color: black; */
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px white;
}

button{
    width: 90%;
    height: 20%;
    font-size: large;
    color: white;
    background-color: black;
    border-radius: 50px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 10px 10px 5px gray inset;
}